* {
     margin: 0;
     color: white;
}

body {
     background-color: #2e2e2e;
     overflow-x: hidden;
     font-family: 'Quicksand', sans-serif;
}

.page-title {
     background-color: #1e1e1e;
     width: 100vw;
     height: 50px;
     display: grid;
     justify-content: center;
     align-content: center;
}

.title {
     background: linear-gradient(to right, #72cb1f, #ff0000);
     color: transparent;
     -webkit-background-clip: text;
     background-clip: text;
}

.content {
     display: grid;
     justify-content: center;
     align-content: center;
     margin-top: 10px;
}

.board {
     display: grid;
     grid-template-rows: repeat(6, 1fr);
     gap: 5px;
}

.row {
     display: grid;
     grid-template-columns: repeat(5, 64px);
     height: 1fr;
     gap: 5px;
     width: 100%;
     justify-content: center;
     align-content: center;
}

.block {
     background-color: transparent;
     border: 2px solid #4e4e4e;
     border-radius: 5px;
     font-size: 30px;
     display: grid;
     width: 64px;
     height: 64px;
     justify-content: center;
     align-content: center;

     transition: background-color 1s;
}

.keyboard {
     display: grid;
     justify-content: center;
     align-content: center;
     height: 200px;
     padding-top: 10px;
     width: 100%;
     gap: 10px;
}

.key-row {
     display: flex;
     height: 1fr;
     gap: 5px;
     width: 100%;
     justify-content: center;
}

.key {
     background-color: #5e5e5e;
     border-radius: 5px;
     display: grid;
     justify-content: center;
     align-content: center;
     font-size: 12px;
     height: 50px;
     min-width: 20px;
     padding: 5px;
}


.key button {
     font-size: 15px;
     border: none;
     /* z-index: 0; */
}

.backspace {
     min-width: 50px;
     cursor: pointer;
}

.hblock {
     transition: background-color 1s;
}

.hidden {
     visibility: hidden;
}

.popup {
     position: absolute;
     display: inline-block;
     background-color: #323336;
     border-radius: 15px;
     padding: 0px;
     z-index: 99;
     text-align: center;
     overflow: hidden;
     visibility: "";
     /* TODO figure out why 100% is smaller than default */
     font-size: 100%;


     transition: visible 1s;
     /* animation: fadeIn 1.5s fadeOut 1.5s; */

}

@keyframes fadeIn {
     from {
          visibility: hidden;
     }

     to {
          visibility: visible;
     }
}

@keyframes fadeOut {
     from {
          visibility: visible;
     }

     to {
          visibility: hidden;
     }
}

.directionPopup {
     position: absolute;
     background-color: #323336;
     border-radius: 30px;
     overflow: hidden;
     padding: 0px;
}

#sharePopup {
     position: absolute;
     background-color: #323336;
     border-radius: 30px;
     overflow: hidden;
     padding: 0px;
     z-index: 100;
}

.center {
     text-align: center;
     float: center;
}

.button {
     background-color: inherit;
     border: none;
     margin-right: 15px;
     margin-top: 15px;
     display: inline;
     position: relative;
}

.popup-header {
     /* background-color:#ffffff; */
     background-color: inherit;
     display: block;
     justify-content: center;
     align-content: center;
}

.navbar-right {
     display: inline-block;
     text-align: right;
     float: right;
}

.navbar-left {
     display: inline-block;
     text-align: left;
     float: left;
}

#popupHeading {
     margin: 0px;
     padding: 0px;
     display: inline-block;
     position: relative;
     width: 70%;
}

.directions {
     width: 100%;
}

.directions .block {
     position: relative;
}

.directions-text {
     padding-right: 5px;
     float: center;
     text-align: center;
}

.gradient-display {
     width: 75%;
     background: linear-gradient(to left, #72cb1f, #ff0000);
     color: transparent;
     float: left;
     padding-right: 5px;
}

.answer-display {

     float: right;
     width: 25%;
     background: #130FB9;
     color: transparent;
}

.gradient-display-container {
     position: absolute;
     justify-content: center;
     float: center;
     align-content: center;
     padding: 10px;
}

.display-bar {
     position: relative;
     border: 2px solid #4e4e4e;
     border-radius: 5px;
     display: grid;
     justify-content: center;
     align-content: center;
}

.glyphicon {
     z-index: 0;
}

.shareButton {
     color: white;
     width:30px;
     

     background-color: #130FB9;
     border: 1px;
     margin-right: 15px;
     margin-top: 15px;
     display: inline;
     position: relative;
     border-color: black;
     z-index: inherit;
}

.sharePopupHeading {
     margin: 0px;
     padding: 0px;
     display: inline-block;
     position: relative;
     width: 70%;
}

/* .closeButton {
     background-color: inherit;
     border: none;
     margin: 0px;
     margin-top: 15px;
     display: inline;
     position: relative;
} */