* {
     margin: 0;
     color: white;
}

body {
     background-color: #2e2e2e;
     overflow: hidden;
     font-family: 'Quicksand', sans-serif;
}

nav {
     background-color: #1e1e1e;
     width: 100vw;
     height: 50px;
     display: grid;
     justify-content: center;
     align-content: center;
}

.title {
     background: linear-gradient(to right, #68cf31, red);
     color: transparent;
     -webkit-background-clip: text;
     background-clip: text;
}

.content {
     display: grid;
     justify-content: center;
     align-content: center;
}

.holder {
     display: grid;
     width: 60vh;
     grid-template-rows: repeat(6, 1fr);
     gap: 10px;
}

.row {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     height: 1fr;
     gap: 10px;
     width: 100%;
}

.block {
     background-color: transparent;
     border: 2px solid #3e3e3e;
     height: 100%;
     margin: calc(100% / 5);
     display: grid;
     justify-content: center;
     align-content: center;
}

.keyboard {
     height: 200px;
}