* {
     margin: 0;
     color: white;
}

body {
     background-color: #2e2e2e;
     overflow-x: hidden;
     font-family: 'Quicksand', sans-serif;
}

.page-title {
     background-color: #1e1e1e;
     width: 100vw;
     height: 50px;
     display: grid;
     justify-content: center;
     align-content: center;
}

.title {
     background: linear-gradient(to right, #72cb1f, #ff0000);
     color: transparent;
     -webkit-background-clip: text;
     background-clip: text;
}

.content {
     display: grid;
     justify-content: center;
     align-content: center;
     margin-top: 10px;
}

.board {
     display: grid;
     grid-template-rows: repeat(6, 1fr);
     gap: 5px;
}

.row {
     display: grid;
     grid-template-columns: repeat(5, 64px);
     height: 1fr;
     gap: 5px;
     width: 100%;
     justify-content: center;
     align-content: center;
}

.block {
     background-color: transparent;
     border: 2px solid #4e4e4e;
     border-radius: 5px;
     font-size: 30px;
     display: grid;
     width: 64px;
     height: 64px;
     justify-content: center;
     align-content: center;

     transition: background-color 1s;
}

.keyboard {
     display: grid;
     justify-content: center;
     align-content: center;
     height: 200px;
     padding-top: 10px;
     width: 100%;
     gap: 10px;
}

.key-row {
     display: flex;
     height: 1fr;
     gap: 5px;
     width: 100%;
     justify-content: center;
}

.key {
     background-color: #5e5e5e;
     border-radius: 5px;
     display: grid;
     justify-content: center;
     align-content: center;
     font-size: 12px;
     height: 50px;
     min-width: 20px;
     padding: 5px;
}


.key button {
     font-size: 15px;
     border: none;
     /* z-index: 0; */
}

.backspace {
     min-width: 50px;
     cursor: pointer;
}

.hblock {
     transition: background-color 1s;
}

.hidden {
     display: none;
}

.popup {
     position: absolute;
     display: inline-block;
     background-color: #323336;
     border-radius: 15px;
     padding: 10px, 5px, 10px, 5px;
     z-index: 990;
     text-align: center;
     overflow: hidden;
     visibility: "";
     font-size: 100%;
     border-color: white;
     border-style: solid;
     border-width: 2px;
     padding-left: 10px;
     padding-right: 10px;


     transition: visible 1s;
     /* animation: fadeIn 1.5s fadeOut 1.5s; */

}

@keyframes fadeIn {
     from {
          visibility: hidden;
     }

     to {
          visibility: visible;
     }
}

@keyframes fadeOut {
     from {
          visibility: visible;
     }

     to {
          visibility: hidden;
     }
}

.directionPopup {
     position: absolute;
     background-color: #323336;
     border-radius: 30px;
     overflow: hidden;
     padding: 0px;
}

.center {
     text-align: center;
     float: center;
}

.button {
     background-color: inherit;
     border: none;
     margin-right: 15px;
     margin-top: 15px;
     display: inline;
     position: relative;
}

.popup-header {
     background-color: inherit;
     display: block;
     justify-content: center;
     align-content: center;
}

.navbar-right {
     display: inline-block;
     text-align: right;
     float: right;
}


.navbar-left {
     display: inline-block;
     text-align: left;
     float: left;
}

.directionsHeading {
     margin: 0px;
     padding: 0px;
     display: inline-block;
     position: relative;
     width: 70%;
     vertical-align: middle;
}

.directions {
     width: 100%;
}

.directions .block {
     position: relative;
}

.directions-text {
     padding-right: 5px;
     float: center;
     text-align: center;
}

.gradient-display {
     width: 75%;
     background: linear-gradient(to left, #72cb1f, #ff0000);
     color: transparent;
     float: left;
     padding-right: 5px;
}

.answer-display {

     float: right;
     width: 25%;
     background: #130FB9;
     color: transparent;
}

.gradient-display-container {
     position: absolute;
     justify-content: center;
     float: center;
     align-content: center;
     padding-left: 10px;
     padding-right: 10px;
     margin-bottom:50px;
}

.display-bar {
     position: relative;
     border: 2px solid #4e4e4e;
     border-radius: 5px;
     display: grid;
     justify-content: center;
     align-content: center;
}

.sharePopup {
     position: absolute;
     background-color: #323336;
     border-radius: 30px;
     overflow: hidden;
     padding: 0px;
}

nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: inherit;
     /* display:inline-block; */
     display: grid inline;
}

.sharePopupHeading {
     background-color: inherit;
     display: block;
     justify-content: center;
     align-content: center;
}


.popupContainer {
     left: 5%;
     top: calc(50px + 5%);
     position: absolute;
     width: 90%;
     height: calc(90% - 50px);
     float: center;
     z-index: 100;
}

.buttonShare {
     background-color: lime;
     color: white;
     width: 20wh;
     height: 5vh;
     border-radius: 5px;
     border-style: solid;
     border-color: white;
     display: inline-block;
}

#results {
     padding-top: 3%;
}

.directions-row-container {
     position:relative;
     display: flex;
     flex-direction: row;
     float:center;
     margin:auto;
     justify-content: center;
     align-content: center;
     padding-left: 5px;
     padding-right: 5px;
}

.directions-row-container .block {

     flex-grow: 1;
     height: 64px;
     max-width: 64px;
     margin:2.5px
}